@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto&display=swap');
*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
/*---------------------------- Header ----------------------*/
.header-section{
    background-image: url(images/get-background.jpg);
    background-size: cover;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-list{
  margin-left: 25%;
}
.navbar-light .navbar-brand {
    color: white;
    font-size: 2em;
    margin: 3% 3%;
}
.nav-item{
  padding:0 4px 0 0;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    float: right;
    font-size: 18px;
    padding: 7px 20px;
    border-radius: 20px;
}
.navbar-light .navbar-toggler {
    background-color: white;
}
.nav-bar-{
    background-color: rgb(121, 83, 136);
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: rgb(121, 83, 136);
    color: white;
}
.r-btn{
  background-color: white;
  color: rgb(121, 83, 136);
  float: right;
  font-weight: 900;
  font-size: 18px;
  padding: 7px 25px;
  border-radius: 20px;
}
.r-btn:hover{
    text-decoration: underline;
    color: rgba(121, 83, 136);
}
/*---------------------------- Get Started Section ----------------------*/
 .text-get-started{
    padding-top: 100px;
}
.text-one{
    font-weight: 900;
    font-family: Roboto, sans-serif;
    font-size: 3em;
    margin: 0 20%;
    color: white;
    text-align: center;
    padding-bottom: 5%;
}
.text-two{
    color: white;
    font-weight: lighter;
    text-align: center;
    margin: 0 20%;
    padding-bottom: 3%;
}
.btn-get-started{
    text-align: center;
    padding-bottom: 5%;
}
.get-btn{
    padding: 7px 25px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    background-color: white;
    color: rgb(120, 40, 92);
    font-weight: 900;
    border-radius: 20px;
    outline: none;
}
.get-btn:hover{
    text-decoration: underline;
    color: rgb(120,40,92);
}
/*---------------------------- About Us Section ----------------------*/
.main-aboutus{
    display: flex;
    padding: 5%;
}
.img-aboutus{
    width: 100%;
}
.text-aboutus{
    width: 100%;
    padding-top: 7%;
    margin-left: 5%;
}
.heading-aboutus{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: rgb(120, 40, 92);
    font-weight: 900;
    padding-bottom: 5%;
}
.para-aboutus{
    line-height: 27px;
    text-align: justify;
    color: #494949;
    margin-right: 18%;
}
/*---------------------------- Guidelines Section ----------------------*/
.main-guidelines{
    background-image: url(images/background-code.jpg);
    height:auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5%;
}
.heading-guide{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: white;
    font-weight: 900, bolder;
    padding-bottom: 3%;
}
.subheading-guide{
    text-align: center;
    font-weight: lighter;
    margin-right: 26%;
    margin-left: 25%;
    padding-bottom: 3%;
    color: white;
}
.far{
   font-size: 30px;
   background-color: white;
   border-radius: 19px;
   color: rgb(120, 40, 92);
   border: 1px solid transparent;
   clear: both;
   float: left;
   margin-left: 5%;
}
.points{
    color: white;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 148px;
    margin-bottom: 60px;
}
/*---------------------------- Guidelines Section ----------------------*/
.main-code{
    display: flex;
}
.heading-code{
    text-align: justify;
    margin-left: 15%;
    padding-top: 10%;
    color: rgb(120, 40, 92);
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}
.para-code{
    text-align: justify;
    margin-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 16%;
    color: #6e6e6e;
    font-size: 20px;
    font-weight: 500;
}
.download{
    margin-left: 15%;
    padding: 9px 25px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    background: linear-gradient(to top, #3c1053, #ad5389);
    color: white;
    font-weight: 900;
    border-radius: 20px;
    text-decoration: none;
}
.download:hover{
    text-decoration: underline;
}
.img-code{
    float: left;
    padding-right: 20%;
    padding-top: 4%;
}
/*---------------------------- Our Team Section ----------------------*/
.our-team{
    background-image: url('images/team-background.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
.heading-team{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 4em;
    color: white;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.para-team{
    text-align: center;
    font-size: 23px;
    color: white;
    font-weight: 200;
    margin: 0 25%;
    padding-bottom: 6%;
}
.member{
    width: 400px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 15px;
    margin-left: 110px;
    outline: none;
}
.img-team{
    border-radius: 114px;
    width: 218px;
    height: 217px;
    margin-left: 96px;
}
.member-name{
    color: rgb(120, 40, 92);
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding: 2% 0;
}
.designation{
    color: rgb(120, 40, 92);
    font-size: 20px;
    font-weight: 500;
    padding: 2% 0;
    text-align: center;
}
.slick-slide .social{
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
}
.slick-slide .twitter{
    margin-left: 125px;
}
.slick-center{
    background: linear-gradient(#702b61,#543b72);
}
.slick-slide{
    transition: transform 0.5s;
}
.slick-slide.slick-center{
    transform: scale(1);
}
.slick-slide.slick-center .member-name{
    color: white;
}
.slick-slide.slick-center .designation{
    color: white;
}
.slick-slide.slick-center .social{
    border-radius: 50px;
    border: 2px solid white;
}
.arrow_next{
    position: absolute;
    bottom: 50%;
    right: 0px;
    z-index: 99;
}
.arrow_prev{
    position: absolute;
    bottom: 50%;
    z-index: 99;
}
/*---------------------------- Contact Section ----------------------*/
.contact-flex{
    display: flex;
    padding: 5%;
}
.main-register{
    width: 100%;
    padding: 5% 0;
}
.register-heading{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    color: rgb(120, 40, 92);
    font-weight: 900;
    margin-left: 5%;
}
.register-para{
    padding-top: 3%;
    margin-right: 15%;
    margin-left: 5%;
    color: #6e6e6e;
    font-size: 20px;
    font-weight: 500;
}
.register-img{
    clear: both;
    float: left;
    border-radius: 53px;
    margin-left: 5%;
}
.sub-register{
    padding-top: 5%;
}
.register-text{
    margin-left: 21%;
    margin-top: 20px;
    line-height: 1.4;
}
.form{
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    box-shadow: 0px 0px 20px 15px #8080800d;
}
.form-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: rgb(120, 40, 92);
    font-size: 2em;
    padding-top: 5%;
    margin-left: 5%;
}
.checkbox-1{
    margin-left: 5%;
    margin-top: 5%;
}
.checkbox-2, .checkbox-3{
    margin-left: 4%;
}
.mentee, .mentor, .question{
    margin-left: 1%;
    font-size: 18px;
    font-weight: 700;
}
.form-label{
    margin-left: 5%;
    font-size: 20px;
    font-weight: 700;
    display: block;
}
.form-input{
    width: 90%;
    padding: 17px 12px;
    border: 1px solid #80808042;
    border-radius: 27px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    outline: none;
    font-size: 16px;
}
.name{
    margin-top: 5%;
}
.register-button{
    margin-top: 4%;
    margin-left: 5%;
    display: block;
    padding: 15px 40px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    background: linear-gradient(to top, #3c1053, #ad5389);
    color: white;
    font-weight: 900;
    border-radius: 35px;
    outline: none;
}
.register-button:hover{
    text-decoration: underline;
}
/*---------------------------- Footer ----------------------*/
.main-footer{
    padding-top: 5%;
}
.footer-links{
    height: 125px;
    border-top: 1px solid #00000021;

}
.footer-logo{
    margin-left: 5%;
}
.f-logo{
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color: rgb(120, 40, 92);
}
.main-links{

}
.links{
    display: inline-block;
    list-style-type: none;
    margin-left: 5%;
    margin-top: 2%;
}
.footer-an{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: #6e6e6e;
}
.footer-an:hover{
    color: rgb(120, 40, 92);
}
.copyright{
    height: 125px;
    background: linear-gradient(to top, #3c1053, #ad5389);
}
.footer-img{
    clear: both;
    float: left;
}
.fab{
    color: white;
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin-top: 38px;
    margin-left: 1%;
}
.fa-facebook{
    margin-left: 5%;
}
.end-line{
    float: right;
    margin-right: 10%;
    margin-top: 47px;
    color: white;
    font-size: 20px;
}
